<div>
    <div class="profile">
        <img class="img" src="https://www.pngmart.com/files/21/Admin-Profile-Vector-PNG-Clipart.png" alt="">
        <div class="con">
            <h3>Admin</h3>
            <h4>
            admin123@gmail.com
            </h4>
        </div>
    </div>
</div>
<mat-divider></mat-divider>
<div class="pages1">
    <h2>Pages</h2>
    <a style="color: aliceblue;" href="">Dashboard</a><br>
    <a style="color: aliceblue;" routerLink ="employee">Employee</a><br>
    <a style="color: aliceblue;" routerLink="gallery">Gallery</a><br>
</div><br>
<mat-divider></mat-divider><br>
<h2>Tools</h2>
<div class="pages2">
    <a  style="color: aliceblue;" routerLink="contacts"><mat-icon>contacts</mat-icon>&nbsp; Contacts</a><br><br>
    <a  style="color: aliceblue;" routerLink="leads"> <mat-icon>leaderboard</mat-icon>&nbsp; Leads</a>
</div>


  
